body {
    text-align: center;
    font-family: 'Arial';
    background-color: rgb(168, 250, 135);
    color: rgb(0, 0, 0);
}
img {
	width: 200px;
    border-radius: 10px;
    border: 5px solid black;
}

